{% extends 'base.html.twig' %}
	{% block bodyheader %}
		<div>
			{% include 'displayerror.html.twig' %}
		</div>
		{% if app.request.get('searchby')%}
			{% if categories is empty %}
				<h1>
					Brak wyników dla:
					{{app.request.query.get('searchby')}}
				</h1>
			{% else %}
				<h1>
					Wyniki wyszukiwania dla:
					{{app.request.query.get('searchby')}}
				</h1>
			{% endif %}
		{% else %}
			<h1>
				Wszystkie kategorie
			</h1>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
			<div class="row m-3">
				<a href={{path('admin_category_create')}}>
					<button class="btn btn-info btn-lg">
						Stwórz kategorię</button>
				</a>
			</div>
		{% endif %}

	{% endblock %}
	{% block bodycontent %}
		{% include 'Category/display-content.html.twig' %}
		<div class="navigation">
			{{ knp_pagination_render(categories)}}
		</div>
	{% endblock %}
