@import '~bootstrap/scss/bootstrap';

$backgorun-color-main: rgb(77, 71, 160);


.navbar-brand {
    font-size: 40px;
    font-weight: 500;
    color:#fff;
}

.nav-link {
    text-decoration: none;
    color:darkgray;
    font-size: 20px;
}

//footer
footer {
    background-color: $backgorun-color-main;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

//table numbered
.table-group-divider {
    counter-reset: rowNumber;

    th{
        counter-increment: rowNumber;
    }

    th:first-child::before {
        content: counter(rowNumber);     
    }
}

//post display

.card-user.col-2 {
    border-right: 1px solid lightgray;

    .name.mb-1 {
    text-align: center;
    font-weight: 500;
    }
}

.card-content.col-10 {

    .date.mt-1 {
        font-size: 15px;
    }
}
