@import '~bootstrap/scss/bootstrap';

$background-color-main: rgb(77, 71, 160);


.navbar-brand {
    font-size: 40px;
    font-weight: 500;
    color:#fff;
}

.nav-link {
    text-decoration: none;
    color:darkgray;
    font-size: 20px;
}

//footer
footer {
    background-color: $background-color-main;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}


//post display
.card-user.col-2 {
    border-right: 1px solid lightgray;

    .name.mb-1 {
    text-align: center;
    font-weight: 500;
    }
}

.card-content.col-10 {

    .date.mt-1 {
        font-size: 15px;
    }
}

//post opinion - hide all button at the beginning
.click-to-negative {
    display: none;
}
.click-to-back-negative {
    display: none;
}
.click-to-positive {
    display: none;
}
.click-to-back-positive {
    display: none;
}

//post answer
.card.quote {
    background-color: rgb(235, 235, 235);
}
//hide answer form at the beginning
.answer-form {
    display: none;
}

