{% extends "base.html.twig" %}
{% block body %}
	<div class="body-header mb-5">
		{% block bodyheader %}
			<h1>
				Panel Użytkownika</h1>
		{% endblock %}
	</div>
	<div class="body-article">
		{% block bodycontent %}
			<container>
				<div class="row">
					<div class="col-6">
						Jesteś zalogowany jako:&nbsp<strong>{{emailGet}}</strong>
					</div>
					<div class="col-6">
						<a href="{{path('logout')}}">Wyloguj</a>
					</div>

					<div class="row mt-5">
						<div class="col-6">
                        	{# TODO #}
							<a href="{{path('logout')}}">Zmień dane</a>
						</div>
						<div class="col-6">
							<a onclick="return confirm('Czy na pewno chcesz usunąć swoje konto?')" href="{{path('delete_account')}}">Usuń konto</a>
						</div>
					</container>
				{% endblock %}
			{% endblock %}
